body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dbdbdb;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: #353535;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    /* white-space: nowrap; */
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.Player {
    background-color: #007BFF;
}

.Banker {
    background-color: #DC3545;
}

.Tie {
    background-color: #28A745;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

button.player {
    background-color: #007BFF;
}

button.tie {
    background-color: #28A745;
}

button.banker {
    background-color: #DC3545;
}

button.undo {
    background-color: #6C757D;
}

button.calculate {
    background-color: #FFC107;
    color: #333;
}

button:hover {
    opacity: 0.8;
}

.confidence {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
button.reset {
    /* change the postion */
    /* position: center; */
    top: 10px;
    right: 10px;
    background-color: #c20000;
    color: rgb(0, 0, 0);
    padding: 10px 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    transition: background-color 0.3s ease;

}
.stats {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}